<div class="top-header_links">
    <ul class="nav ul-list-horizental list-items">
        <li class="list-item">
            <a>
                <span class="mobile-hide">Navigation Link One</span>
                <span class="mobile-show">Link One</span>
            </a>
        </li>
        <li class="list-item">
            <a>
                <span class="mobile-hide">Navigation Link Two</span>
                <span class="mobile-show">Link Two</span>
            </a>
        </li>
        <li class="list-item">
            <a>
                <span class="mobile-hide">Navigation Link Three</span>
                <span class="mobile-show">Link Three</span>
            </a>
        </li>
    </ul>
</div>