<div class="credit-card-item_container">
    <div class="credit-card-item_top_block clearfix">
        <div class="credit-card-item_top_left p-left">
            <div class="credit-card-item_title">
                <h3>Barclaycard CashForward™ World MasterCard™</h3>
            </div>
        </div>
        <div class="credit-card-item_top_right p-right mobile-hide">
            <div class="score_block clearfix">
                <div class="scrore_stars p-left">
                    <div class="score-result_stars" style="width:75%"></div>
                </div>
                <div class="score_text p-right" data-reviews-count="">3,252 Reviews</div>
            </div>
        </div>
    </div>
    <div class="credit-card-item_body clearfix">
        <div class="credit-card-item_body_left p-left">
            <div class="credit-card-item-card-preview clearfix">
                <div class="credit-card-img p-left">
                    <img src="/assets/img/PNG/credit_cart.png" />
                </div>
                <div class="credit-card-approval p-right">
                    <span>Approval Odds<i class="text-ico">†</i></span>
                    <span class="credit-card-approval-stat very-good">Very Good</span>
                </div>
            </div>
            <div class="credit-card_body_bottom">
                <a class="btn orange appl-now" href="/apply-now">Apply Now</a>
            </div>
        </div>
        <div class="credit-card-item_body_right p-right">
            <div class="credit-card-item-card-preview-describ show-less">
                <p class="point">Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</p>
                <p class="point">Earn unlimited 1.5% cash rewards on every purcahse.</p>
                <p class="point">Earn unlimited 1.5% cash rewards on every purcahse.</p>
                <p class="point">Earn unlimited 1.5% cash rewards on every purcahse.</p>
                <p class="point">Earn unlimited 1.5% cash rewards on every purcahse.</p>
                <span class="show-more" (click)="showMore($event)">...<span class="blue-link">show more</span></span>
            </div>
        </div>
    </div>
    <div class="credit-card-item_bottom">
        <a class="link blue-link" href="#">See Details Rates & Fees</a>
    </div>
</div>